
.heading{
    background-color: #221139;
    border: 8px solid #e0e5e7;
    color: rgb(230, 210, 210);
    text-align: center;
    margin: 25px;
    /* display:flex;
    flex-direction: column; */
    height: 80vh;

}

.home
{
    /* display: flex; */
    /* flex-direction: column; */
    border: 5px solid #e0e5e7;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85%;
}

.home-container{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    /* width:70%; */
    /* border: 5px solid #b574c2; */
    align-items: center;
    padding: 25px;
    height:80%;
    /* justify-content: center; */
    gap: 175px;
}

.buttons{
    display:flex;
    flex-direction: column;
    gap:25px;
}

.buttons button{
    cursor: pointer;
    background-color:   #04354cac;
    border: none;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    margin: 10px;
}

.buttons button a
{
    text-decoration: none;
    color: #fff;
}

.welcome{
    /* font-size: 50px; */

    /* border: 3px solid  #221139; */
    padding: 25px;
    font-size: 3em;
    /* background-color: #8e79ca; */
    color: #1b8699;
    text-transform: uppercase;
    border: 2px solid #c9dee6;

    /* font-family: Lilita One, sans-serif; */
}
.homePage{
    display: flex;
    flex-direction: column;

    height: 80vh;
    background-color: #391111;

}





