.login-form {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px rgb(82, 26, 180);
}

.login-form label {
    margin: 10px 0;
    font-weight: bold;
}

.login-form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

.login-form button {
    cursor: pointer;
    background-color:   #04354cac;
    border: none;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    margin: 10px;
    color:white;
}

.login-form button:hover {
    background-color: #79c8d6;
}

.login-form .message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.login-form .message.success {
    background-color: #d4edda;
    color: #155724;
}

.login-form .message.error {
    background-color: #f8d7da;
    color: #721c24;
}
